.explore-banner {
  .explore-banner--image {
    background: url("/images/48FF448F-2010-4FFA-A6C3-7B2F4A4CDEBD_1_105_c.jpeg") center center/cover;
    padding-bottom: 100%;

    @include md {
      padding-bottom: 180%;
    }
    @include lg {
      padding-bottom: 144%;
    }

    @include xl {
      padding-bottom: 112%;
    }
  }
}
